{% extends 'base.html' %}

{% block scripts %}
<script>
    // jquery function

    $(document).ready(function(){
        var Chart_ip_evolucion_ultimos_ciclosCtx = document.getElementById('Chart_ip_evolucion_ultimos_ciclos').getContext('2d');
        var Chart_ip_evolucion_ultimos_ciclos = new Chart(Chart_ip_evolucion_ultimos_ciclosCtx, {
            type: 'line',
            data: {
                labels: [ {% for ciclo in ciclo1 %} {{ciclo}}, {%endfor%}], //loop through queryset, 
                datasets: [{
                    label: 'IP ciclo actual',
                    fill: false,
                    data: [ {% for ip in ips_ciclo %} {{ip}} ,{% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 5
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        var Chart_ip_comparativa_integrantesCtx = document.getElementById('Chart_ip_comparativa_integrantes').getContext('2d');
        var Chart_ip_comparativa_integrantes = new Chart(Chart_ip_comparativa_integrantesCtx, {
            type: 'bar',
            data: {
                labels: [ {% for productor in productores %} '{{productor}}', {%endfor%}], //loop through queryset, 
                datasets: [{
                    label: 'IP ciclo actual',
                    data: [ {% for ip in ips_productor %} {{ip}} ,{% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', 
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });



</script>

{% endblock scripts %}


{% block content %}

<h1> Índice de productividad </h1>

<!-- displaying the chart -->
<!-- you can also play around with the width and height to increase or decrease the chart size -->

<div class="card mb-3 text-center">

    <h5> IP evolucion ultimos 6 ciclos</h5>
    <canvas id="Chart_ip_evolucion_ultimos_ciclos" width="300" height="300"></canvas>
</div>
<div class="card mb-3 text-center">

    <h5> IP comparativa productores</h5>
    <canvas id="Chart_ip_comparativa_integrantes" width="300" height="300"></canvas>
</div>


{% endblock content %}



