{% extends 'base.html' %}

{% block scripts %}
<script>
    // jquery function

    

    $(document).ready(function(){
        
        var grafico_mortalidad_mixtoCtx = document.getElementById('grafico_mortalidad_mixto').getContext('2d');
        var grafico_mortalidad_mixto = new Chart(grafico_mortalidad_mixtoCtx, {
            data: {
                labels: [ {% for semana in semanas_posibles %} {{semana}}, {%endfor%}], //loop through queryset, 
                datasets: [{
                    type: 'line',
                    label: 'Tasa de mortalidad mixto',
                    fill: false,
                    data: [{% for row in mixto_acumulados_porcentaje %} {{row}}*100 ,{% endfor %}],
                    backgroundColor: '#36a2eb' ,
                    borderColor: '#36a2eb',
                    borderWidth: 3,
                    pointHitRadius : 15,
                },{
                    type: 'line',
                    label: 'Meta de mortalidad',
                    fill: false,
                    data: [{% for objetiv in objetivo_mortalidad %} {{objetiv}}*100,{% endfor %}],
                    borderColor: '#ff6384',
                    backgroundColor: '#ff6384',
                    borderWidth: 1.5,
                    pointHitRadius : 15,
                    pointRadius : false,
                    pointHoverRadius : 0,
                }
            ]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Porcentaje'
                        },
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Semanas del ciclo'
                    }
                    }]
                }
            }
        });

        var grafico_mortalidad_machosCtx = document.getElementById('grafico_mortalidad_machos').getContext('2d');
        var grafico_mortalidad_machos = new Chart(grafico_mortalidad_machosCtx, {
            type: 'line',
            data: {
                labels: [{% for semana in semanas_posibles %} {{semana}}, {%endfor%}], //loop through queryset, 
                datasets: [{
                    label: 'Tasa mortalidad machos',
                    fill: false,
                    data: [ {% for row in machos_acumulados_porcentaje %} {{row}}*100 ,{% endfor %}],
                    backgroundColor: '#36a2eb' ,
                    borderColor: '#36a2eb',
                    borderWidth: 3,
                    pointHitRadius : 15,
                },{
                    type: 'line',
                    label: 'Meta de mortalidad',
                    fill: false,
                    data: [{% for objetiv in objetivo_mortalidad %} {{objetiv}}*100,{% endfor %}],
                    borderColor: '#ff6384',
                    backgroundColor: '#ff6384',
                    borderWidth: 1,
                    pointHitRadius : 15,
                    pointRadius : false,
                    pointHoverRadius : 0,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Porcentaje'
                        },
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Semanas del ciclo'
                    }
                    }]
                }
            }
        });

        var grafico_mortalidad_hembrasCtx = document.getElementById('grafico_mortalidad_hembras').getContext('2d');
        var grafico_mortalidad_hembras = new Chart(grafico_mortalidad_hembrasCtx, {
            type: 'line',
            data: {
                labels: {{semanas_posibles}}, //loop through queryset, 
                datasets: [{
                    label: 'Tasa mortalidad hembras',
                    fill: false,
                    data: [ {% for row in hembras_acumulados_porcentaje %} {{row}}*100 ,{% endfor %}],
                    backgroundColor: '#36a2eb' ,
                    borderColor: '#36a2eb',
                    borderWidth: 3,
                    pointHitRadius : 15,
                },{
                    type: 'line',
                    label: 'Meta de mortalidad',
                    fill: false,
                    data: [{% for objetiv in objetivo_mortalidad %} {{objetiv}}*100,{% endfor %}],
                    borderColor: '#ff6384',
                    backgroundColor: '#ff6384',
                    borderWidth: 1,
                    pointHitRadius : 15,
                    pointRadius : false,
                    pointHoverRadius : 0,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    },
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Porcentaje'
                        },
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Semanas del ciclo'
                    }
                    }]
                }
            }
        });
        
    });



</script>

{% endblock scripts %}


{% block content %}
<div class="container text-center m-2">
    <h1> <b>  Tasa de mortalidad </b> </h1>
</div>
<div class="container m-2 mb-3 mt-4">
<h5> Hola, {{ user.first_name }} {{ user.last_name }} ! </h5>
<h5> A continuación se muestra la evolución de la tasa de mortalidad para el ciclo actual</h5>
</div>
<!-- displaying the chart -->
<!-- you can also play around with the width and height to increase or decrease the chart size -->

<div class="card mb-3 text-center m-2">
    <h1></h1>
    <h5> <b>Mortalidad mixto ciclo {{ultimo_ciclo_mortalidad}}</b></h5>
    
    <div class="container text-center">
        <canvas id="grafico_mortalidad_mixto" width="300" height="300"></canvas>
    </div>

    <div class="container text-center">
        <div class="row m-2">
            <div class="col">
              <button class="btn btn-outline-success btn-sm"> <b>Aves iniciales: {{mixto_aves_inicial}} </b></button>
            </div>
            <div class="col">
              <button class="btn btn-outline-success btn-sm"><b>Aves actuales: {{mixto_aves_final}}</b></button>
            </div>
            <div class="col">
                <button class="btn btn-outline-success btn-sm"><b>Meta aves finales: {{ objetivo_aves_final_mixto}}</b></button>
              </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <button class="btn btn-outline-primary btn-sm"><b>% Mortalidad actual: {{mixto_porcentaje_actual}}% </b></button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary btn-sm"><b>% Mortalidad meta: 5%</b></button>
            </div>
            
        </div>
        <div class="row m-2">
            <div class="col">
            </div>
            <div class="col">
                {% if mixto_porcentaje_actual > 5  %}
                    {% for obj in regular %}
                        <img src="{{ obj.image.url }}" width="80" >
                    {% endfor %} 
                {% elif 4 > mixto_porcentaje_actual  %}
                    {% for obj in excelente %}
                        <img src="{{ obj.image.url }}" width="80" >
                    {% endfor %} 
                {% else %}
                    {% for obj in bueno %}
                        <img src="{{ obj.image.url }}" width="80" >
                    {% endfor %} 
                {% endif %}
            </div>
            <div class="col">
            </div>
        </div>
                    
    </div>    
    <h5> </h5>


</div>

<div class="card mb-3 text-center m-2">
    <h1></h1>
    <h5> <b>Mortalidad machos ciclo {{ultimo_ciclo_mortalidad}}</b></h5>
    <div class="container text-center">
        <canvas id="grafico_mortalidad_machos" width="300" height="300"></canvas>
    </div>

    <div class="container text-center">
        <div class="row m-2">
            <div class="col">
              <button class="btn btn-outline-success btn-sm"><b>Aves iniciales: {{machos_aves_inicial}}</b> </button>
            </div>
            <div class="col">
              <button class="btn btn-outline-success btn-sm"><b>Aves actuales: {{machos_aves_final}}</b></button>
            </div>
            <div class="col">
                <button class="btn btn-outline-success btn-sm"><b>Meta aves finales: {{ objetivo_aves_final_machos}}</b></button>
              </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <button class="btn btn-outline-primary btn-sm"><b>% Mortalidad actual: {{machos_porcentaje_actual}}% </b></button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary btn-sm"><b>% Mortalidad meta: 5%</b></button>
            </div>
            
        </div>
        <div class="row m-2">
            <div class="col">
            </div>
            <div class="col">
                {% if machos_porcentaje_actual > 5  %}
                    {% for obj in regular %}
                        <img src="{{ obj.image.url }}" width="80" >
                    {% endfor %} 
                {% elif 4 > machos_porcentaje_actual  %}
                    {% for obj in excelente %}
                        <img src="{{ obj.image.url }}" width="80" >
                    {% endfor %} 
                {% else %}
                    {% for obj in bueno %}
                        <img src="{{ obj.image.url }}" width="80" >
                    {% endfor %} 
                {% endif %}
            </div>
            <div class="col">
            </div>
        </div>
                    
    </div>    
    <h5> </h5>

</div>

<div class="card mb-3 text-center m-2">
    <h1></h1>
    <h5> <b>Mortalidad hembras ciclo {{ultimo_ciclo_mortalidad}}</b></h5>
    <div class="container text-center">
        <canvas id="grafico_mortalidad_hembras" width="300" height="300"></canvas>
    </div>
    

    <div class="container text-center">
        <div class="row m-2">
            <div class="col">
              <button class="btn btn-outline-success btn-sm"><b>Aves iniciales: {{hembras_aves_inicial}}</b> </button>
            </div>
            <div class="col">
              <button class="btn btn-outline-success btn-sm"><b>Aves actuales: {{hembras_aves_final}}</b></button>
            </div>
            <div class="col">
                <button class="btn btn-outline-success btn-sm"><b>Meta aves finales: {{ objetivo_aves_final_hembras}}</b></button>
              </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <button class="btn btn-outline-primary btn-sm"><b>% Mortalidad actual: {{hembras_porcentaje_actual}}% </b></button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary btn-sm"><b>% Mortalidad meta: 5%</b></button>
            </div>
            
        </div>
        <div class="row m-2">
            <div class="col">
            </div>
            <div class="col">
                {% if hembras_porcentaje_actual > 5  %}
                    {% for obj in regular %}
                        <img src="{{ obj.image.url }}" width="80" >
                    {% endfor %} 
                {% elif 4 > hembras_porcentaje_actual  %}
                    {% for obj in excelente %}
                        <img src="{{ obj.image.url }}" width="80" >
                    {% endfor %} 
                {% else %}
                    {% for obj in bueno %}
                        <img src="{{ obj.image.url }}" width="80" >
                    {% endfor %} 
                {% endif %}
            </div>
            <div class="col">
            </div>
        </div>
                    
    </div>    
    <h5> </h5>
</div>


{% endblock content %}